<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>RestFs</title>

	<style media="screen" type="text/css">
	
		a, u {
		    text-decoration: none;
		}
		
		body {
			padding: 50px;
		}			
	
	</style>            
</head> 
<body>

	<a href="{{baseUri}}containers">&lArr;</a>

	<p>
		<b>id</b>: {{this.container.id}}
	</p>
			
	<p>
		<b>name</b>: {{this.container.name}}
	</p>
		
	<p>
		<b>stats</b>: {{this.container.statsEnabled}}
	</p>
		
	<p>
		<b>webHook</b>: {{this.container.webHookEnabled}}
	</p>
		
	<p>
		<b>actual statistics</b>: <pre><code>{{json this.container.statistics}}</code></pre>
	</p>

</body>
</html>