{{#partial "main" }}
<div class="container-fluid">
    <h1 class="mt-4">Container detail</h1>
    <div class="row">
    	<div class="card-body">
			<div class="">
				<a href="{{baseUri}}containers">&lArr;</a>
			</div>
		</div>
	</div>
	<div class="row">
    	<div class="card-body">
			<div class="">						
				<label class="font-weight-bold">ID</label>
				<div>{{this.container.id}}</div>
			</div>
		</div>
	</div>
    <div class="row">
    	<div class="card-body">
			<div class="">
				<label class="font-weight-bold">NAME</label>
				<div>{{this.container.name}}</div>									
			</div>
		</div>
	</div>
    <div class="row">
    	<div class="card-body">
			<div class="">
				<label class="font-weight-bold">STATS ENABLED</label>
				<div>{{this.container.statsEnabled}}</div>																		
			</div>
		</div>
	</div>
    <div class="row">
    	<div class="card-body">
			<div class="">
				<label class="font-weight-bold">WEB HOOK ENABLED</label>
				<div>{{this.container.webHookEnabled}}</div>																											
			</div>
		</div>
	</div>
		
    <div class="row">
    	<div class="card-body">
			<div class="">
				<label class="font-weight-bold">STATISTICS</label>
				<pre><code>{{json this.containerStatistics}}</code></pre>																																		
			</div>
		</div>
	</div>

    <div class="row">
    	<div class="card-body">
			<div class="">
				<label class="font-weight-bold">LAST CALLS</label>
				<pre><code>{{json this.containerCalls}}</code></pre>																																		
			</div>
		</div>
	</div>												
</div>

<script>	
	
	window.addEventListener('load', function(){
	    document.querySelectorAll("pre > code").forEach(function(x) { 
	    	console.log(x);
	    	
	    	x.innerHTML = prettyPrintJson.toHtml(JSON.parse(x.innerHTML));		    	
		});
	});		
	
</script>
{{/partial}}
                    

{{> base-template}}